/*! Source PublicSans[wght] */

@font-face
  {font-family:'Source PublicSans[wght]';
    font-style:normal;font-weight:400;
    font-display:swap;
    src:url(https://xudong-zhu01.github.io/assets/fonts/PublicSans[wght].ttf) format('truetype');
  }

@font-face
  {font-family:'Source edukai-5.0';
    font-style:normal;font-weight:400;
    font-display:swap;
    src:url(https://xudong-zhu01.github.io/assets/fonts/edukai-5.0.ttf) format('truetype');
    unicode-range: U+4E00-9FFF
  }

  
@font-face
{font-family:'Source PublicSans[wght]';
  font-style:normal;font-weight:600;
  font-display:swap;
  src:url(https://xudong-zhu01.github.io/assets/fonts/PublicSans[wght].ttf) format('truetype');
  }
  

@font-face
{font-family:'Source PublicSans[wght]';
  font-style:normal;font-weight:700;
  font-display:swap;
  src:url(https://xudong-zhu01.github.io/assets/fonts/PublicSans[wght].ttf) format('truetype');
  })

@font-face
{font-family:'Source PublicSans[wght]';
  font-style:normal;font-weight:900;
  font-display:swap;
  src:url(https://xudong-zhu01.github.io/assets/fonts/PublicSans[wght].ttf) format('truetype');
  })

@font-face
{font-family:'Source PublicSans[wght]';
  font-style:normal;
  font-weight:400;
  font-display:swap;
  src:url(https://xudong-zhu01.github.io/assets/fonts/PublicSans[wght].ttf) format('truetype');
  })