---
layout: default
refactor: true
title: Blog
icon: fas fa-archive
order: 5
---

{% include lang.html %} {% assign pinned = site.posts | where: 'pin', 'true' %}
{% assign default = site.posts | where_exp: 'item', 'item.pin != true and
item.hidden != true' %} {% assign posts = pinned | concat: default %}

<div id="post-list" class="flex-grow-1 px-xl-1">
  {% for post in posts %}
  <article class="card-wrapper card mb-4 shadow-sm border-0">
    <a
      href="{{ post.url | relative_url }}"
      class="post-preview row g-0 flex-md-row-reverse text-decoration-none text-reset"
    >
      {% assign card_body_col = '12' %} {% if post.image %} {% assign src =
      post.image.path | default: post.image %} {% unless src contains '//' %} {%
      assign src = post.img_path | append: '/' | append: src | replace: '//',
      '/' %} {% endunless %} {% assign alt = post.image.alt | xml_escape |
      default: 'Preview Image' %}

      <div class="col-md-5">
        <div class="h-100 overflow-hidden rounded-end">
          <img
            src="{{ src }}"
            alt="{{ alt }}"
            class="img-fluid w-100 h-100 object-fit-cover"
          />
        </div>
      </div>

      {% assign card_body_col = '7' %} {% endif %}

      <div class="col-md-{{ card_body_col }}">
        <div class="card-body d-flex flex-column h-100 p-4">
          <h2 class="card-title h4 fw-bold">{{ post.title }}</h2>

          <div class="card-text content mt-2 text-muted">
            <p>{{ post.content | strip_html | truncate: 150 }}</p>
          </div>

          <div
            class="post-meta mt-auto pt-3 d-flex align-items-center text-muted small"
          >
            <div class="me-auto">
              <i class="far fa-calendar fa-fw me-1"></i>
              {% include datetime.html date=post.date lang=lang %} {% if
              post.categories.size > 0 %}
              <span class="mx-2">|</span>
              <i class="far fa-folder-open fa-fw me-1"></i>
              {% for category in post.categories %} {{ category }} {%- unless
              forloop.last -%}, {%- endunless -%} {% endfor %} {% endif %}
            </div>

            {% if post.pin %}
            <div class="pin ms-3 text-warning">
              <i class="fas fa-thumbtack"></i>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </a>
  </article>
  {% endfor %}
</div>
